---
# Token group page - token tables with anchors
layout: base.liquid
---
<article>
  <h1 class="spectrum-Heading spectrum-Heading--sizeXL">{{ title }}</h1>
  <div class="spectrum-Body">
    {{ content }}
  </div>
</article>
