name: Release Snapshot

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Tag used on changeset version and NPM package"
        required: false
        type: string

jobs:
  get-snapshot-tag:
    runs-on: ubuntu-latest
    outputs:
      snapshot-tag: ${{ steps.compute-tag.outputs.tag }}
    steps:
      - name: Compute snapshot tag
        id: compute-tag
        env:
          BRANCH: ${{ github.ref_name }}
        run: |
          if [ -n "${{ inputs.tag }}" ]; then
            echo "tag=${{ inputs.tag }}" >> $GITHUB_OUTPUT
          else
            echo "tag=${BRANCH##*snapshot-}" >> $GITHUB_OUTPUT
          fi

  publish:
    needs: get-snapshot-tag
    uses: ./.github/workflows/publish-packages.yml
    with:
      snapshot-tag: ${{ needs.get-snapshot-tag.outputs.snapshot-tag }}
    secrets:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
