name: Release

on:
  push:
    branches:
      - main
      - beta

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    uses: ./.github/workflows/publish-packages.yml
    secrets:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
